/* Global Footer
/* ---------------------------------------------------------- */

.gh-foot {
    padding: 8vmin 4vmin 4vmin;
    text-align: center;
}

.gh-foot .gh-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.gh-foot a {
    color: inherit;
    text-decoration: none;
}

.gh-foot-meta {
    margin: 2rem 0 1rem; /* Adjusted margin to provide space between copyright and social links */
    font-size: 1.5rem;
    opacity: 0.75;
}

.gh-foot-menu {
    display: flex;
    gap: 20px; /* Space between social media icons */
    margin-bottom: 2rem; /* Space below social links */
}

.gh-foot-menu svg {
    height: 24px; /* Size of social media icons */
    width: 24px;
    fill: currentColor;
    transition: opacity 0.2s ease-in-out;
}

.gh-foot-menu a:hover svg {
    opacity: 0.8;
}

@media (max-width: 700px) {
    .gh-foot-meta {
        font-size: 1.4rem;
    }
    .gh-foot-menu {
        gap: 15px;
    }
}

